<div class="row">
  <div class="jumbotron"> <!-- begin jumbotron -->
  	<div class="container">
  	  <div class="col-md-8"> <!-- begin homecontent -->
  	  
  	  </div> <!-- end homecontent -->
  	  <div class="col-md-4">
        <form> <!-- start log in form -->
          <div class="form-group">
            <label for="InputEmail1"></label>
            <input type="email" class="form-control" id="InputEmail1" placeholder="Enter Email">
          </div>
          <div class="form-group">
            <label for="InputPassword1"></label>
            <input type="password" class="form-control" id="InputPassword1" placeholder="Password">
          </div>
        </form> <!-- end log in form -->
        <div class="signup"> <!-- start sign up form -->
      	<h3>Wana play Connect4? <small>sign up!</small></h3>
      	<form>
      	  <div class="form-group">
      	    <label for="InputEmail1"></label>
      	    <input type="text" class="form-control" id="InputEmail1" placeholder="Enter Username">
      	  </div>
      	  <div class="form-group">
      	    <label for="InputEmail1"></label>
      	    <input type="email" class="form-control" id="InputEmail1" placeholder="Enter Email">
      	  </div>
      	  <div class="form-group">
      	    <label for="InputPassword1"></label>
      	    <input type="password" class="form-control" id="InputPassword1" placeholder="Password">
      	  </div> 
      	  <button type="button" class="btn btn-primary">Yeah Conn3ct4</button>
      	  </form>
      	</div> <!-- end sign up form -->
      </div> <!-- end login form, col-md-4 -->
    </div>
  </div> <!-- end jumbotron -->
</div>